

.titleContainer {
  width: 100%;
}
.background-container {
  width: 100%;
}
.priceContainer {
  z-index: 2;
  right: 12%;
  position: absolute;
  float: right;
  clear: left;
}

.summaryContainer {
  width: 70%;
  margin-left: 16%;
  align-self: center;
  margin-bottom: 5%;
  margin-top: 5%;
  color: black;
}

.customerReviewsDiv{
  text-align: left;
  font-weight: bolder;
  font-size: 24px;
  line-height: 32px;
  display: block;
  width: 90%;
  padding-top: 24%;
  margin: 0;
  color: black;
  margin-bottom: 30px;
}


@media (max-width: 960px) {

  /* .reviewBody{
    text-align: left;
  } */
  .summaryContainer {
    width: 90%;
    margin-left: 5%;
    align-self: center;
    margin-bottom: 5%;
    margin-top: 550px;
  }
  .priceContainer{
    z-index: 2;
    top: 80%;
    right: 3%;
    left: 3%;
    margin: auto;
    position: absolute;
    margin-bottom: 10%;
  }
  .titleContainer{
    top: 0;
  }
}

@media (max-width: 768px) and
        (max-height: 1024px) {
          .priceContainer{
            z-index: 2;
            top: 60%;
            right: 3%;
            left: 3%;
            margin: auto;
            position: absolute;
            margin-bottom: 10%;
          }
}

@media (max-height: 880px) and (max-width: 500px) {
  .priceContainer {
    z-index: 2;
    top: 73%;
    right: 3%;
    left: 3%;
    margin: auto;
    position: absolute;
    margin-bottom: 10%;
  }
}


@media (max-width: 960px) and
        (max-height: 740px) {
  .reviewBody{
    text-align: left;
  }

  .summaryContainer {
    width: 90%;
    margin-left: 5%;
    align-self: center;
    margin-bottom: 5%;
    margin-top: 550px;
  }
  .priceContainer{
    z-index: 2;
    top: 83%;
    right: 3%;
    left: 3%;
    margin: auto;
    position: absolute;
    margin-bottom: 10%;
  }
  .titleContainer{
    top: 0;
  }
}

@media (max-width: 960px) and
        (max-height: 680px) {
  .reviewBody{
    text-align: left;
  }

  .summaryContainer {
    width: 90%;
    margin-left: 5%;
    align-self: center;
    margin-bottom: 5%;
    margin-top: 550px;
  }
  .priceContainer{
    z-index: 2;
    top: 90%;
    right: 3%;
    left: 3%;
    margin: auto;
    position: absolute;
    margin-bottom: 10%;
  }
  .titleContainer{
    top: 0;
  }
}

@media (max-width: 960px) and
        (max-height: 570px) {
  .reviewBody{
    text-align: left;
  }

  .summaryContainer {
    width: 90%;
    margin-left: 5%;
    align-self: center;
    margin-bottom: 5%;
    margin-top: 550px;
  }
  .priceContainer{
    z-index: 2;
    top: 102%;
    right: 3%;
    left: 3%;
    margin: auto;
    position: absolute;
    margin-bottom: 10%;
  }
  .titleContainer{
    top: 0;
  }
}

/*summary commponent
*/

.book-summary {
  display: block;
}

.summary-heading {
   color: #141414;
   font-size: 20px;
   font-weight: 700;
   line-height: 26px;
   margin-bottom: -5px;
}


.publisher-summary {
  color: rgba(20,20,20,.65);
  font-size: .9em;
  padding: 0px;
  /* color: #a5a5a5; */
  background-color: #ffffff;
  font-family: "Audible Sans",Arial,sans-serif;
  font-size: 15px;
  text-align: "center";
  line-height: 20px;
  line-height: 1.4;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}


@media (max-width: 960px) {
  .extra_content {
    display: none;
  }
  #read_more {
    cursor: pointer;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    color: #333;
    border: none;
    white-space: nowrap;
    font: 400 14px Arial;
    height: 40px;
    text-align: left;
    position: flex;
    background-color: white;
    margin-left:-5px;
    margin-top: -1px;
  }

  .summary-heading {
    color: #141414;
    font-weight: 700;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    font-family:  Arial, sans-serif;
    margin-bottom: -9px;
    padding-bottom: 0%;
   }
   .summary-detail {
    margin-bottom: -6px;
    margin-top: -6px;
   }

   .publisher-summary  {
    color: rgba(20,20,20,.65);
    display: flex;
    font-family:  sans-serif, "Audible Sans" Arial, sans-serif;
    font-size: 14px;
    flex-direction: column;
    padding-top: 0%;
    margin-top: -5px;
    /* color: #a5a5a5; */
    background-color: #ffffff;
    font-family: "Audible Sans",Arial,sans-serif;
    margin-top: 0%;
    margin: 1%;
    white-space: pre-line;
    background-color: #FFF;
    line-height: 1.3;
    padding: 0px !important;
    }

    .normal
    {
      -webkit-mask-image: -webkit-linear-gradient(
        270deg
        ,#000 50%,transparent 100%);
    }


    .read_more:hover {
      color: #020202;
      text-decoration: underline;
    }

    .extra_content {
      display: visible;
    }
    #extra_content {
      clear: left;
      white-space: pre-line;
      margin-top: -8px;
    }


    .show {
       display: block;
       margin-top: 0px;
    }

}
.read_more  {
  display: none;
  border: none;
  background-color: white;
}

/* =========Header Bar ============ */

/*body {
  margin: 0px;
  padding: 0px;
}

summary {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
} */

/*/////////////////////
/////  HEADER  ////////
/////////////////////*/

.main-header {
  height: 120px;
}

.header-container {
  max-width: 1000px;
  margin: auto;
}
.right-side {
  float: right;
  width: 250px;
  text-align: right;
  margin-top: 20px;
}
.right-side a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: black;
}
.right-side a:hover {
  text-decoration: underline;
}
.right-side img {
  margin-top: 20px;
}
.header-logo-desktop {
  float: left;
  margin-top: 50px;
}
/* Hide mobile elements on desktop*/
.header-logo-mobile {
  display: none;
}
.header-nav-mobile {
  display: none;
}
.search-box-mobile {
  display: none;
}

@media (max-width: 960px) {
  .main-header {
    background-color: rgb(20, 20, 20);
    height: 45px;
  }
  .header-nav-mobile {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
  }
  .header-logo-mobile {
    display: block;
    width: 35px;
    height: 35px;
    padding-top: 5px;
    margin: auto;
  }
  .search-box-mobile {
    display: block;
    float: right;
    width: 30px;
    margin-top: 8px;
    margin-right: 10px;
  }


  /* hide the desktop elements*/
  .right-side {
    display: none;
  }
  .header-logo-desktop {
    display: none;
  }
  .search-box {
    display: none;
  }
  .right-side a {
    display: none;
  }
}

/* aggregate reviews ============== */


#aggReview {
  margin-left: 16%;
}


@media (max-width: 960px) {
  #aggReview{
    margin: 0;
  }
}